@model DogGo.Models.WalkerViewModel

@{
    ViewData["Title"] = "Details";
}


<div class="profile">
    <h1>Walker Profile</h1>
    <hr />
    <section class="container">

        <img style="width:100px;float:left;margin-right:20px"
             class="bg-info" src="@Model.Walker.ImageUrl" alt="avatar" />
        <div>
            <label class="font-weight-bold">Name:</label>
            <span>  @Html.DisplayFor(model => model.Walker.Name)</span>
        </div>
        <div>
            <label class="font-weight-bold">Neighborhood:</label>
            @Html.DisplayFor(model => model.Walker.Neighborhood.Name)
        </div>
    </section>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
<hr class="mt-5" />
<div class="row">
    <section class="col-8 container mt-5">
        <h1 class="text-left">Recent Walks</h1>
        <div class="row">

            <div class="column">
                <label class="font-weight-bold">Date:</label>
                @foreach (Walk walk in Model.Walks)
                {
                    <div>
                        <span>@walk.Date </span>
                    </div>
                }
            </div>
            <hr class="mt-5" />

            <div class="column">
                <label class="font-weight-bold">Owner:</label>
                @foreach (Walk walk in Model.Walks)
                {
                    <div>
                        <span>@walk.Owner.Name </span>
                    </div>
                }
            </div>
            <hr class="mt-5" />
            <div class="column">
                <label class="font-weight-bold">Duration:</label>
                @foreach (Walk walk in Model.Walks)
                {
                    <div>
                        <span>@walk.Duration min</span>
                    </div>
                }
            </div>
        </div>
    </section>
</div>

